<div class="h-full flex flex-column">
    <app-header></app-header>
    <div class="flex flex-wrap flex-grow-1 overflow-y-auto bg-white">
        <!-- <div class="col-4 py-0">
            Profile
        </div> -->
        <div class="col-12 md:col-7 xl:col-5 py-0 mx-auto">
            <div class="border-2 border-top-none border-gray-300 h-full">
                <!-- <div class="p-3 border-bottom-2 border-gray-300">
                    <h3>Home</h3>
                </div> -->
                <app-add-post></app-add-post>
                <app-posts></app-posts>
            </div>

        </div>
    </div>

</div>